body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-color: #1A1A1A;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

p{
    font-size: 16px;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

.banner {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 0 0 10px 0;
    border-color: rgba(132, 61, 245, 1);
    position: relative;
}

.banner-uiux {
    background: linear-gradient(to top, rgba(132, 61, 245, 0.8), rgba(132, 61, 245, 0)), no-repeat center/cover url("../img/ui_ux_vertical.png");
}

.banner-2danimation {
    background: linear-gradient(to top, rgba(132, 61, 245, 0.8), rgba(132, 61, 245, 0)), no-repeat center/cover url("../img/2danimation_lan.png");
}

.banner-3danimation {
    background: linear-gradient(to top, rgba(132, 61, 245, 0.8), rgba(132, 61, 245, 0)), no-repeat center/cover url("../img/3danimation_vertical.png");
}
.banner-graphic {
    background: linear-gradient(to top, rgba(132, 61, 245, 0.8), rgba(132, 61, 245, 0)), no-repeat center/cover url("../img/graphic_design_vertical.png");
}

.banner-inner{
    position: relative;
    display: inline-block;
}

.backward-main img{
    padding: 17px;
}

.banner .heading {
    padding: 10px 50px;
    background-color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    box-shadow: rgba(255,255,255,0.1) 0px 1px 1px 0px inset, rgba(50,50,93,0.25) 0px 50px 100px -20px, rgba(0,0,0,0.3) 0px 30px 60px -30px;
}

.heading p{
    color: #2d2d2d;
}

.backward-main {
    height: 70px;
    width: 70px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -90px; /* move left from heading */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.96, 0, 0.11, 1);
    background-image: url('../assets/thin-arrow-left-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
}

.backward-main:hover{
    background-color: #5F49F2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-image: url('../assets/thin-arrow-left-white.svg');
}

/*Project section*/

@keyframes slideDown {
  0% {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.cross::before {
  content: "\2715"; 
  color: #2d2d2d;
  font-size: 30px;
}

.backward {
  height: 70px;
  width: 70px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #dadada ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  transition: all 0.4s cubic-bezier(0.96, 0, 0.11, 1);
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0); /* Default position */
  margin-top: 10px;
  animation: slideDown 0.6s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}


    .backward:hover {
        background-color: #5F49F2;
        border: 1px solid #5F49F2;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }

    .backward:hover .cross::before{
        color: #fff;
    }

    .projects-wrap .backward a:link {
        text-decoration: none;
    }


.project{
    padding: 0;
    margin: 0;
    transition: transform 0.3s cubic-bezier(0.96, 0, 0.11, 1);
}

.projects-wrap {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5% 0;
}

.projects-wrap a:link{
    text-decoration:none;
}


.black {
    background-color: #2d2d2d !important;
}

.projects-container {
    height: 300px;
    display: flex;
    padding-left: 5%;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 0;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}

    .projects-container .project {
        text-align: left;
        color: #fff;
        background-color: rgba(132, 61, 245, 1);
        border-radius: 5px;
        padding: 10px 50px;
        border-style: solid;
        border-width: 0 0 0 8px;
        border-color: #a16af9;
        margin-left: 0;
        transition: transform 0.3s cubic-bezier(0.96, 0, 0.11, 1);
    }

    .projects-container:hover {
        transform: scale(1.03);
        border: 1px solid #525252;
    }

    .projects-container:hover .project{
        transform: translateX(-50px);
    }

.project-skills{
    padding: 0;
}

.project-skills li{
    list-style-type: none;
    font-size: 13px;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    background-color: #a16af9;
}

/* Responsive adjustments */
@media (max-width: 1280px) {
    .projects-wrap { width: 90%; }
    .projects-wrap .backward.fixed { width: 20%; }
}
@media (max-width: 599px) {
    .projects-wrap .backward.fixed { width: 35%; }
    .banner .heading { padding: 10px 20px; width: 80%; }
    .projects-container { justify-content: center; padding: 0; }
    .projects-container .project { width: 60%; padding: 10px 30px; }
    .projects-container .project h1 { font-size: x-large; }
    .backward-main{
        height: 60px;
        width: 60px;
        margin: 0 auto;
        position: relative;
        left: auto;
        transform: translateY(0);
        margin-bottom: 4%;
    }
}