body {
    height: 100%;
    margin: 0 !important;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-color: #000;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.html {
    scroll-behavior: smooth;
}

/* Home Section */

.home {
    width: 80%;
    display: flex;
    min-height: 100vh; /* Ensure home section takes full viewport height */
    color: #ffffff;
    align-items: top;
    margin: 0 auto; /* Center the home section horizontally */
    justify-content: space-between;
}

.intro {
    width: 39%;
    position: relative; /* Ensure .about is positioned relative to .intro */
}
    .intro .title {
        margin-top: 20px;
        position: absolute;
        top: 32%;
        z-index:1;
    }

    .intro h1, .intro p {
        margin: 0;
    }

    .intro .title .name{
        display:flex;
        flex-direction:row;
    }

    .intro .title .name .f-name {
        font-weight: 200;
        color: #fff;
        font-size: 80px;
    }

    .intro .title .name .dass .D {
        width: 58px;
        height: 58px;
        background-color: #843DF5;
        top: 18px;
        position: relative;
        margin-left: 20px;
        margin-right: 10px;
        -webkit-animation: rotate 1.3s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        /*transform: translate(-133px, -26px) rotate(0deg) scale(0.4);*/
    }

    .intro .title .dass {
        display: flex;
        flex-direction: row;
    }

    .intro .title .name .l-name {
        font-size: 80px;
        color: #843DF5;
        margin-left: -8px;
        -webkit-animation: blink 0.8s;
        animation-delay: 1.2s;
        animation-fill-mode: forwards;
        animation-timing-function: linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
        opacity: 0;
    }

    @keyframes rotate{
        0% {
            transform: translate(-180px, -26px) rotate(0deg) scale(0.4);
            border-radius: 50% 50% 50% 50%;
        }

        25% {
            transform: translate(-133px, -70px) rotate(90deg) scale(0.4);
            border-radius: 50% 50% 50% 50%;
        }

        50% {
            transform: translate(-90px, -25px) rotate(120deg) scale(0.4);
            border-radius: 50% 50% 50% 50%;
        }

        75% {
            transform: translate(-23px, -100px) rotate(300deg) scale(0.4);
            border-radius: 0 50% 50% 50%;
        }

        100% {
            transform: translate(0px, 3px) rotate(720deg) scale(1);
            border-radius: 0 50% 50% 0;
        }

    }

    @keyframes blink{
        from{opacity:0}
        to{opacity:100%}
    }

    .intro .about {
        background-color: #202020;
        position: absolute;
        top: 50%; /* Start from the middle */
        left: 0;
        width: 100%;
        height: 50%; /* Span to the bottom */
        border: none;
        border-radius: 20px 20px 0 0;
        display: flex;
        flex-direction: column;
    }

        .intro .about .about-inside {
            padding: 25px;
            line-height: 25px;
            color: #dddddd;
        }

.showreel {
    width: 59%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #dddddd;
}

    .showreel video {
        max-width: 100%;
        height: auto;
        border: none;
        border-radius: 20px;
    }

    .social-media {
        padding: 20px 0;
    }

        .social-media .fa {
            border: solid 1px;
            border-color: #8d8d8d;
            font-size: 20px;
            font-weight: 100;
            text-decoration: none;
            border-radius: 10px;
            padding: 18px;
            color: #dddddd;
        }

    .social-media .fa:hover {
        color: #000;
        background-color: #8d8d8d;
    }

.contact .fa {
    border-color: #8d8d8d;
    font-size: 20px;
    padding: 10px;
    color: #8d8d8d;
}

.contact .phone, .contact .mail {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Skills Section */

.skills-section {
    background-color: #1a1a1a;
}

.skills-section h2{
    font-weight:300;
}

.skills-inner {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills-inner h1{
    color:#fff;
    padding-bottom:40px;
}

.skills-section .skills-inner .title{
    width:80%;
}

.skills-section .skills-inner .title h1 {
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 150px;
}

    .skills-section .skills-inner .title h1::before {
        content: "";
        display: block;
        width: 10px;
        height: 30px;
        background-color: #843DF5;
        border-radius: 10px;
        margin-left: 10px;
        margin-right:5px;
    }

.skills-container h1{
    padding:0px;
}

.skills-container {
    width: 80%;
    height: 75%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: #fff;
}

/*Background image*/
.column-ui {
    background-image: url("../img/ui_ux.png");   
}

.column-g {
    background-image: url("../img/graphic_design.png");
}

.column-anima {
    background-image: url("../img/animation.png");
}

.column-lead {
    background-image: url("../img/lead.png");
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}



.column-lead:hover {
    animation: zoomShake 1s forwards;
}

@keyframes zoomShake {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.05);
    }
    40% {
        transform: scale(1.05) translateX(-10px);
    }
    50% {
        transform: scale(1.05) translateX(10px);
    }
    60% {
        transform: scale(1.05) translateX(-10px);
    }
    70% {
        transform: scale(1.05) translateX(10px);
    }
    80% {
        transform: scale(1.05) translateX(0);
    }
    100% {
        transform: scale(1);
    }
}

.column {
    position: relative;
    width: 21.5%;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*transition: all 0.2s cubic-bezier(0.96, 0, 0.11, 1);*/
    transition: transform 0.3s cubic-bezier(0.96, 0, 0.11, 1);
}

    .column .column-inside {        
        padding: 10px;
        background-color: rgba(132, 61, 245, 0.8);
        border-radius: 10px;
        color: #fff;
    }

    .column:hover {
        transform: scale(1.05);
    }

.skills-container a:link {
    text-decoration: none;
}

.header, .footer {
    width: 100%;
    height: 10vh;
    background-color: #000;
}



/* Medium devices (tablets, 600px to 1444px) */
@media (max-width: 1444px) {
    .home {
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 10%;
        justify-content: flex-start;
        width: 85%;
        min-height: auto;
    }

    .intro, .showreel {
        width: 100%;
        padding-top: 30px;
    }

        .intro .title {
            position: relative;
            margin-top: 20px;
            top: 0;
            z-index: 0;
        }

        .intro .about {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 20px 20px 20px 20px;
        }

        .intro h1 {
            font-size: 80px;
        }


        .intro .about .about-inside {
            line-height: 30px;
        }

    .social-media fa {
        font-size: 40px;
        padding: 40px;
    }

    .skills-container {
        flex-direction: column;
    }
    .column {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    .skills-section{
        padding-top:10%;
        padding-bottom:10%;
    }

    .skills-section .skills-inner .title {
        width: 85%;
    }
    .skills-inner{
        height:auto;
    }

    /*Background image*/
    .column-ui {
        background-image: url("../img/ui_ux_vertical.png");
    }

    .column-g {
        background-image: url("../img/graphic_design_vertical.png");
    }

    .column-anima {
        background-image: url("../img/animation_vertical.png");
    }

    .column-lead {
        background-image: url("../img/lead_vertical.png");
    }
}

/* Small devices (phones, 599px and down) */
@media (max-width: 599px) {
    .home {
        width: 90%;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .intro .title .name {
        display: flex;
        flex-direction: column;
    }
        .intro .title .name .f-name{
            margin-left:-5px;
        }

        .intro .title .name .dass .D {
            margin-left: 4px;
            animation:none;
            border-radius: 0 50% 50% 0;
        }

        .intro .title .name .l-name{
            animation:none;
            opacity:100%;
        }

        .skills-section h1 {
            font-size: x-large;
        }

    .skills-section .skills-inner .title{
        width:90%;
    }
    .skills-section {
        padding-top: 20%;
        padding-bottom: 20%;
    }
}