@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Work+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Faustina:ital,wght@0,300..800;1,300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');

@media print {
  @page {
    margin: 0;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .resume {
    width: 100% !important;
    margin: 0 auto!important;
    padding: 10% !important;
    box-sizing: border-box;
    background-color: #fff !important;
  }

  .no-break {
    break-inside: avoid;
    page-break-inside: avoid;
    padding: 6% 0 !important;
  }

  .profile-inner, .about-inner, .work-inner, .projects-inner, .awards-inner, .education-inner, .contact-inner{
    padding: 2.5% 0 !important;
  }
}


body{
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}

h1,h4,p{
    margin: 0;
    padding: 5px 0;
}

h4{
    font-weight: 300;
    font-size: medium;
}

.bold{
    font-weight: 600;
}

.highlight{
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
}

p{
    font-size:13px ;
    line-height: 20px;
}

a{
    text-decoration: none;
    color: #2d2d2d;
    font-size: 14px;
}

a::after{
    content: "\f08e"; /* Unicode for fa-arrow-up-right-from-square */
    font-family: "Font Awesome 6 Free";
    font-weight: 600; /* solid style */
    margin-left: 6px;
    display: inline-block;
    font-size: 11px;
}

.profile-inner, .about-inner, .work-inner, .projects-inner, .awards-inner, .education-inner, .contact-inner{
    padding: 5% 0;
}

.resume{
    width:50%;
    margin: 5% auto;
    padding: 5%;
    background-color: #f6f6ff;
}

/*Profile*/

.profile-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 !important;
}

.profile-item{
    width: auto;
}

.profile-item img{
    width: 120px;
    height: auto;
    border-radius: 50%;
}

.details{
    padding-left: 20px;
}

.details a{
        text-decoration: underline;
}

/*Work*/

.work-item, .projects-item, .education-item, .contact-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 30px;
}

.exp-year, .projects-year, .education-year, .contact-year{
    width: 20%;
}

.exp-des, .projects-des, .education-des, .contact-des{
    width: 80%;
    display: flex;
    flex-direction: column;   
}

.role-inner{
    margin-top: 10px;
    position: relative;
}

.role-inner h4{
    font-size: small;
}

.role-inner p{
    padding-left: 12px;
    color: #4d4d4d;
}

.role-inner p::before{
    content: "•";
    position: absolute;
    left: 0;
    color: #2d2d2d;
    font-weight: bold;
}

/*Awards*/

.awards-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.awards-items img{
    width: 27px;
    height: 27px;
    flex-shrink: 0;
}

.awards-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5% 0;
}

.awards-items p{
    padding-left: 10px;
}

/*Contact*/

.contact-inner{
    padding-bottom: 0;
}

.contact-item{
    margin:0;
}

.contact-inner .contact-item:first-of-type{
    padding-top: 2.5% !important;
}


/* Medium devices (tablets, 600px to 1280px) */
@media (max-width: 1280px) {
    .resume{
        width: 80%;
        margin: 0 auto;
    }
}

/* Small devices (phones, 599px and down) */
@media (max-width: 599px) {
    .resume{
        width: 90%;
        max-width: 960px;
        margin: 0 auto;
    }
}